*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  font-family: sans-serif;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(111, 67, 255);
  color: white;
  padding: 20rem 350rem 20rem 350rem;
  margin-bottom: 50rem;
}

.useReducer {
  font-size: 35rem;
  font-weight: 500;
}

.shopping-cart {
  width: 45rem;
}

.cart-div {
  position: relative;
}

.cart-number {
  position: absolute;
  font-size: 25rem;
  background-color: rgb(168, 141, 255);
  padding: 1rem 8rem 1rem 8rem;
  border-radius: 50%;
  left: 53%;
  top: -17%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55%;
}

.your-bag {
  font-size: 50rem;
  font-weight: 500;
  color: rgb(42, 42, 42);
  margin-bottom: 30rem;
}

.empty-message {
  font-size: 35rem;
  font-weight: 500;
  color: rgb(120, 120, 120);
  text-align: center;
}

.products-list {
  margin-bottom: 30rem;
  list-style-type: none;
  padding-left: 0rem;
  color: black;
  width: 100%;
}

.price-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5rem;
  font-size: 25rem;
  border-top: 2rem solid rgb(202, 202, 202);
  padding-top: 10rem;
}

.total-price {
  color: white;
  background-color: rgb(111, 67, 255);
  padding: 1rem 6rem 1rem 6rem;
  border-radius: 5rem;
}

.clear-btn {
  border: none;
  cursor: pointer;
  font-size: 16rem;
  color: rgb(111, 67, 255);
  padding: 5rem 12rem 5rem 12rem;
  border-radius: 5rem;
  background-color: rgba(120, 79, 253, 0.423);
  transition: 0.3s ease;
  margin-bottom: 50rem;
}

.clear-btn:hover {
  background-color: rgb(111, 67, 255);
  color: rgb(215, 204, 255);
}

.product-img {
  width: 90rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20rem;
}

.info-div {
  display: flex;
  align-items: center;
}

.product-title {
  font-size: 27rem;
  font-weight: 500;
  letter-spacing: 2rem;
  color: rgb(57, 57, 57);
  text-transform: capitalize;
}

.product-price {
  font-size: 20rem;
  font-weight: 500;
  color: gray;
  font-weight: 300;
}

.remove-btn {
  border: none;
  background-color: transparent;
  color: rgb(111, 67, 255);
  font-size: 16rem;
  letter-spacing: 0.5rem;
  padding-left: 2rem;
}

.remove-btn:hover {
  cursor: pointer;
  text-decoration: underline rgb(111, 67, 255);
}

.title-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 7rem;
}

.amount-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.amount-span {
  font-size: 25rem;
  font-weight: 500;
  color: rgb(34, 34, 34);
}

.increase,
.decrease {
  padding: 0rem;
  border: none;
  background-color: transparent;
}

.increase:hover,
.decrease:hover {
  cursor: pointer;
}

.btn-icon {
  width: 25rem;
  padding: 0rem;
  color: rgb(106, 61, 255);
}

.btn-icon:hover {
  transform: scale(1.1);
}
